* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  /* background: url(../img/bg.jpg) no-repeat center center fixed;
  background-size: cover; */
  background-color: #fff;
}

/* HELPERS */
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(20px, 1fr));
  grid-template-rows: 20px;
  grid-auto-rows: 20px;
}
.main-content {
  max-width: 90%;
  height: 90vh;
  margin: auto;
  margin: 2rem auto;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
}
.img {
  width: 100px;
  height: 100px;
  background-position: center center;
  background-size: cover;
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  opacity: 0.8;
}
.img:hover {
  opacity: 1;
}
.main-container {
  max-width: 90%;
  gap: 50px;
}

.inputs-container {
  width: 25em;
  height: 25em;
  /* border-radius: 10px; */
  /* background-color: #fafbdc8f; */
  border: 1px solid rgb(29, 28, 28);
  /* color: #72655e; */
}
.inputs-content {
  padding: 1em;
}
.text-input {
  background-color: hotpink;
  grid-column: 1/-1;
}
.btn {
  background-position: center center;
  background-size: cover;
}

.output {
  width: 400px;
  height: 400px;
  /* height: max-content; */
  border: 1px solid rgb(29, 28, 28);
}
