* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  /* background: url(../img/bg.jpg) no-repeat center center fixed;
  background-size: cover; */
  background-color: #fff;
}

/* HELPERS */
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(20px, 1fr));
  grid-auto-rows: 20px;
}
.main-content {
  max-width: 90%;
  height: 90vh;
  margin: auto;
  margin: 2rem auto;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
}
.main-container {
  max-width: 90%;
  gap: 50px;
}

.inputs-container,
.output {
  width: 25em;
  height: 25em;
  /* border-radius: 10px; */
  /* background-color: #fafbdc8f; */
  border: 1px solid rgb(29, 28, 28);
  /* color: #72655e; */
}
.inputs-content {
  padding: 1em;
}
